/* ---- reset ---- */
html {
  box-sizing: border-box;
  font-family: Slack-Averta,appleLogo,sans-serif;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
}

p {
  color: #323648;
  line-height: 1.4
}

img{
  max-width: 100%;
}

/*Layout*/

.container{
  margin: 0 20px;
  }

/*Header*/
  header.header{
    overflow: hidden;
    display: flex;  
    justify-content: space-between;
    width: 100%;
    left: 0%;
    top: 0%;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  }
  header .nav-bar ul{
    display: none;
    margin: 0;
  }

  header .slack-logo {
    width: 130px;
    padding-top: 5px;
  }
  header .burger-menu-icon{
    width: 50px;
    padding-top: 5px;
  }


/*Section*/
  section#descarga{
    margin-top: 20px;
  }

  section#descripcion {
    display: flex;
    flex-direction: column;
  }
  section#descripcion .bullet-pictures{
    width: 120px;
  }

  section#historias .articulos {
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    float: left;
    margin: 5px;
  }