/* ---- reset ---- */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}

/*Layout*/

.container{
  margin: 0 20px;
  }

/*Header*/
  header.header{
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0%;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15)
  }
  header .nav-bar ul{
    display: none;
  }

  header .slack-logo {
    width: 130px;
    float: left;
    padding-top: 5px;
  }
  header .burger-menu-icon{
    width: 50px;
    float: right;
    padding-top: 5px;
  }


/*Section*/
  section#descarga{
    margin-top: 80px;
  }